.result {
  &__tag {
    &--true {
      color: green;
    }

    &--false {
      color: red;
    }
  }

  &__item {
    &--selected {
      color: red;
    }

    &--result {
      color: green;
    }
  }

}